In [39]:
import pandas as pd

In [40]:
#Import Data
Trset = pd.read_csv("./DS Dataset Mahir/TrSet.csv")

In [41]:
Trset

,CUST_NO,VTG,AGETIER,EDUCATION_DESC,GENDER,EOP_BAL_CS,MTH_AVG_BAL_CS,MTH6_AVG_BAL_CS,DELTA_FUNDING_BALANCE,MTH_AVG_BAL_IDR,...,AVG_CREDIT_3MTH,SUM_CREDIT_LESS_3MIL,SUM_CREDIT_ZERO,DELTA_CREDIT_MUTATION,DELTA_DEBIT_MUTATION,AVG_DEBIT_3MTH,CUST_SEGMENT_AVG,DELTA_CUST_SEG,L_COLL,BAD_TAG
0,2730505.6,16-20 th,21-30 th,UNIVERSITAS,P,2.056059e+07,1.984331e+07,8.539044e+06,-1.348543e+07,1.984331e+07,...,2.498304e+07,0,0,-1.623916e+07,-1.062066e+07,1.949566e+07,4,0,0,0
1,2734315.2,16-20 th,41-50 th,UNIVERSITAS,L,9.170948e+05,2.694370e+06,1.951391e+07,3.405224e+07,2.694370e+06,...,1.124538e+07,0,0,-6.775181e+06,-2.692690e+06,1.276439e+07,5,0,1,0
2,2668305.2,16-20 th,41-50 th,UNIVERSITAS,L,4.300652e+05,1.719333e+06,1.974608e+06,7.410419e+05,1.719333e+06,...,1.474981e+07,1,0,8.661768e+06,1.129421e+07,1.463569e+07,5,0,0,0
3,2526375.6,16-20 th,41-50 th,UNIVERSITAS,L,4.348930e+06,1.373424e+06,1.874303e+06,1.571728e+06,1.373424e+06,...,6.541202e+06,0,0,3.685779e+06,8.645953e+05,6.047069e+06,5,0,0,0
4,2437968.4,16-20 th,51-65 th,SMA,L,6.702202e+07,1.855625e+08,2.803859e+08,4.921136e+08,1.855625e+08,...,1.017353e+09,0,0,-2.065421e+08,7.833901e+08,1.034371e+09,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43621,7749589.4,1 th,21-30 th,SMA,L,9.897000e+05,6.301286e+05,6.398094e+05,-5.737353e+04,6.301286e+05,...,3.631500e+06,1,0,-6.452000e+05,3.802667e+05,3.540033e+06,5,0,0,0
43622,7801324.8,1 th,31-40 th,AKADEMI,P,8.365746e+06,2.129412e+06,9.997117e+05,-8.284994e+05,2.129412e+06,...,2.065541e+07,1,1,-1.554145e+05,2.162427e+06,1.788757e+07,5,1,0,0
43623,7803506.8,1 th,21-30 th,UNIVERSITAS,L,2.424743e+07,1.738847e+07,7.323877e+06,-1.275150e+07,1.738847e+07,...,1.110606e+07,2,0,-9.906002e+06,-5.826008e+06,5.826008e+06,4,0,0,0
43624,4734476.0,6-10 th,31-40 th,SMA,L,1.670087e+07,7.784549e+06,8.533363e+06,1.212635e+06,7.784549e+06,...,1.201513e+08,0,0,-2.037767e+07,1.908234e+07,1.207426e+08,4,0,0,0
43625,3639642.0,11-15 th,51-65 th,SD,L,5.242412e+08,5.212897e+08,5.075936e+08,-2.307968e+07,6.212897e+08,...,3.977569e+06,2,0,-3.296693e+06,-3.493315e+06,3.578730e+06,2,0,0,0

In [42]:
Trset.head(9)

,CUST_NO,VTG,AGETIER,EDUCATION_DESC,GENDER,EOP_BAL_CS,MTH_AVG_BAL_CS,MTH6_AVG_BAL_CS,DELTA_FUNDING_BALANCE,MTH_AVG_BAL_IDR,...,AVG_CREDIT_3MTH,SUM_CREDIT_LESS_3MIL,SUM_CREDIT_ZERO,DELTA_CREDIT_MUTATION,DELTA_DEBIT_MUTATION,AVG_DEBIT_3MTH,CUST_SEGMENT_AVG,DELTA_CUST_SEG,L_COLL,BAD_TAG
0,2730505.6,16-20 th,21-30 th,UNIVERSITAS,P,2.056059e+07,1.984331e+07,8.539044e+06,-1.348543e+07,1.984331e+07,...,2.498304e+07,0,0,-1.623916e+07,-1.062066e+07,1.949566e+07,4,0,0,0
1,2734315.2,16-20 th,41-50 th,UNIVERSITAS,L,9.170948e+05,2.694370e+06,1.951391e+07,3.405224e+07,2.694370e+06,...,1.124538e+07,0,0,-6.775181e+06,-2.692690e+06,1.276439e+07,5,0,1,0
2,2668305.2,16-20 th,41-50 th,UNIVERSITAS,L,4.300652e+05,1.719333e+06,1.974608e+06,7.410419e+05,1.719333e+06,...,1.474981e+07,1,0,8.661768e+06,1.129421e+07,1.463569e+07,5,0,0,0
3,2526375.6,16-20 th,41-50 th,UNIVERSITAS,L,4.348930e+06,1.373424e+06,1.874303e+06,1.571728e+06,1.373424e+06,...,6.541202e+06,0,0,3.685779e+06,8.645953e+05,6.047069e+06,5,0,0,0
4,2437968.4,16-20 th,51-65 th,SMA,L,6.702202e+07,1.855625e+08,2.803859e+08,4.921136e+08,1.855625e+08,...,1.017353e+09,0,0,-2.065421e+08,7.833901e+08,1.034371e+09,3,0,0,0
5,2390138.2,16-20 th,31-40 th,UNIVERSITAS,L,1.485426e+08,1.393810e+08,1.150786e+08,-1.326232e+08,1.393810e+08,...,1.215333e+07,0,0,-1.427802e+06,5.090937e+06,1.163332e+07,3,0,0,0
6,2330060.0,16-20 th,31-40 th,SMA,P,1.171279e+06,1.658525e+06,1.826295e+07,2.890653e+06,1.658525e+06,...,1.060716e+07,0,0,3.022652e+07,-1.616699e+07,2.086921e+07,5,0,0,0
7,1517175.0,16-20 th,41-50 th,SMA,L,3.296138e+07,3.948991e+07,7.451837e+07,-1.770270e+07,3.948991e+07,...,4.938238e+08,0,0,-9.772643e+07,-1.644265e+08,5.258601e+08,4,0,0,0
8,1036137.0,> 20 th,51-65 th,AKADEMI,P,3.503638e+07,1.993357e+07,4.905750e+06,-7.069799e+06,1.993357e+07,...,2.310440e+07,1,0,-1.405440e+07,-2.510922e+06,1.167701e+07,4,0,0,0

In [43]:
Trset[['VTG', 'GENDER']].head()

        VTG GENDER
0  16-20 th      P
1  16-20 th      L
2  16-20 th      L
3  16-20 th      L
4  16-20 th      L

In [44]:
Trset.iloc[1,4]

'L'

In [45]:
Trset.iloc[1:5, 1:4] #1:5 = ambil baris indeks ke-1 sampai ke-4 (karena slicing di Python stop exclusive, jadi indeks 5 tidak ikut). 1:4 = ambil kolom indeks ke-1 sampai ke-3.

        VTG   AGETIER EDUCATION_DESC
1  16-20 th  41-50 th    UNIVERSITAS
2  16-20 th  41-50 th    UNIVERSITAS
3  16-20 th  41-50 th    UNIVERSITAS
4  16-20 th  51-65 th            SMA

In [46]:
Trset.iloc[:, 3]

0        UNIVERSITAS
1        UNIVERSITAS
2        UNIVERSITAS
3        UNIVERSITAS
4                SMA
            ...
43621            SMA
43622        AKADEMI
43623    UNIVERSITAS
43624            SMA
43625             SD
Name: EDUCATION_DESC, Length: 43626, dtype: object

In [47]:
dfCustNo = Trset[["CUST_NO"]]

In [48]:
dfCustNo.head()

     CUST_NO
0  2730505.6
1  2734315.2
2  2668305.2
3  2526375.6
4  2437968.4

In [49]:
Trset.head()

,CUST_NO,VTG,AGETIER,EDUCATION_DESC,GENDER,EOP_BAL_CS,MTH_AVG_BAL_CS,MTH6_AVG_BAL_CS,DELTA_FUNDING_BALANCE,MTH_AVG_BAL_IDR,...,AVG_CREDIT_3MTH,SUM_CREDIT_LESS_3MIL,SUM_CREDIT_ZERO,DELTA_CREDIT_MUTATION,DELTA_DEBIT_MUTATION,AVG_DEBIT_3MTH,CUST_SEGMENT_AVG,DELTA_CUST_SEG,L_COLL,BAD_TAG
0,2730505.6,16-20 th,21-30 th,UNIVERSITAS,P,20560590.01,1.984331e+07,8.539044e+06,-1.348543e+07,1.984331e+07,...,2.498304e+07,0,0,-1.623916e+07,-1.062066e+07,1.949566e+07,4,0,0,0
1,2734315.2,16-20 th,41-50 th,UNIVERSITAS,L,917094.84,2.694370e+06,1.951391e+07,3.405224e+07,2.694370e+06,...,1.124538e+07,0,0,-6.775181e+06,-2.692690e+06,1.276439e+07,5,0,1,0
2,2668305.2,16-20 th,41-50 th,UNIVERSITAS,L,430065.24,1.719333e+06,1.974608e+06,7.410419e+05,1.719333e+06,...,1.474981e+07,1,0,8.661768e+06,1.129421e+07,1.463569e+07,5,0,0,0
3,2526375.6,16-20 th,41-50 th,UNIVERSITAS,L,4348929.80,1.373424e+06,1.874303e+06,1.571728e+06,1.373424e+06,...,6.541202e+06,0,0,3.685779e+06,8.645953e+05,6.047069e+06,5,0,0,0
4,2437968.4,16-20 th,51-65 th,SMA,L,67022018.69,1.855625e+08,2.803859e+08,4.921136e+08,1.855625e+08,...,1.017353e+09,0,0,-2.065421e+08,7.833901e+08,1.034371e+09,3,0,0,0

In [50]:
Trset = Trset.drop("GENDER", axis=1)

In [51]:
Trset.head()

,CUST_NO,VTG,AGETIER,EDUCATION_DESC,EOP_BAL_CS,MTH_AVG_BAL_CS,MTH6_AVG_BAL_CS,DELTA_FUNDING_BALANCE,MTH_AVG_BAL_IDR,MTH6_AVG_BAL_IDR,...,AVG_CREDIT_3MTH,SUM_CREDIT_LESS_3MIL,SUM_CREDIT_ZERO,DELTA_CREDIT_MUTATION,DELTA_DEBIT_MUTATION,AVG_DEBIT_3MTH,CUST_SEGMENT_AVG,DELTA_CUST_SEG,L_COLL,BAD_TAG
0,2730505.6,16-20 th,21-30 th,UNIVERSITAS,20560590.01,1.984331e+07,8.539044e+06,-1.348543e+07,1.984331e+07,8.539044e+06,...,2.498304e+07,0,0,-1.623916e+07,-1.062066e+07,1.949566e+07,4,0,0,0
1,2734315.2,16-20 th,41-50 th,UNIVERSITAS,917094.84,2.694370e+06,1.951391e+07,3.405224e+07,2.694370e+06,1.951391e+07,...,1.124538e+07,0,0,-6.775181e+06,-2.692690e+06,1.276439e+07,5,0,1,0
2,2668305.2,16-20 th,41-50 th,UNIVERSITAS,430065.24,1.719333e+06,1.974608e+06,7.410419e+05,1.719333e+06,1.974608e+06,...,1.474981e+07,1,0,8.661768e+06,1.129421e+07,1.463569e+07,5,0,0,0
3,2526375.6,16-20 th,41-50 th,UNIVERSITAS,4348929.80,1.373424e+06,1.874303e+06,1.571728e+06,1.373424e+06,1.874303e+06,...,6.541202e+06,0,0,3.685779e+06,8.645953e+05,6.047069e+06,5,0,0,0
4,2437968.4,16-20 th,51-65 th,SMA,67022018.69,1.855625e+08,2.803859e+08,4.921136e+08,1.855625e+08,2.803859e+08,...,1.017353e+09,0,0,-2.065421e+08,7.833901e+08,1.034371e+09,3,0,0,0

In [52]:
dfGender = Trset[["VTG"]]

In [53]:
dfGender.head()

        VTG
0  16-20 th
1  16-20 th
2  16-20 th
3  16-20 th
4  16-20 th

In [54]:
Trset = Trset.drop("AGETIER", axis=1)

In [55]:
Trset.head()

,CUST_NO,VTG,EDUCATION_DESC,EOP_BAL_CS,MTH_AVG_BAL_CS,MTH6_AVG_BAL_CS,DELTA_FUNDING_BALANCE,MTH_AVG_BAL_IDR,MTH6_AVG_BAL_IDR,DELTA_FUNDING_BALANCE_TD,AVG_CREDIT_3MTH,SUM_CREDIT_LESS_3MIL,SUM_CREDIT_ZERO,DELTA_CREDIT_MUTATION,DELTA_DEBIT_MUTATION,AVG_DEBIT_3MTH,CUST_SEGMENT_AVG,DELTA_CUST_SEG,L_COLL,BAD_TAG
0,2730505.6,16-20 th,UNIVERSITAS,20560590.01,1.984331e+07,8.539044e+06,-1.348543e+07,1.984331e+07,8.539044e+06,-1.348543e+07,2.498304e+07,0,0,-1.623916e+07,-1.062066e+07,1.949566e+07,4,0,0,0
1,2734315.2,16-20 th,UNIVERSITAS,917094.84,2.694370e+06,1.951391e+07,3.405224e+07,2.694370e+06,1.951391e+07,3.405224e+07,1.124538e+07,0,0,-6.775181e+06,-2.692690e+06,1.276439e+07,5,0,1,0
2,2668305.2,16-20 th,UNIVERSITAS,430065.24,1.719333e+06,1.974608e+06,7.410419e+05,1.719333e+06,1.974608e+06,7.410419e+05,1.474981e+07,1,0,8.661768e+06,1.129421e+07,1.463569e+07,5,0,0,0
3,2526375.6,16-20 th,UNIVERSITAS,4348929.80,1.373424e+06,1.874303e+06,1.571728e+06,1.373424e+06,1.874303e+06,1.571728e+06,6.541202e+06,0,0,3.685779e+06,8.645953e+05,6.047069e+06,5,0,0,0
4,2437968.4,16-20 th,SMA,67022018.69,1.855625e+08,2.803859e+08,4.921136e+08,1.855625e+08,2.803859e+08,4.921136e+08,1.017353e+09,0,0,-2.065421e+08,7.833901e+08,1.034371e+09,3,0,0,0

In [56]:
Trset = pd.merge(dfGender, Trset, how='left', left_index=True, right_index=True)

In [57]:
Trset.head()

,VTG_x,CUST_NO,VTG_y,EDUCATION_DESC,EOP_BAL_CS,MTH_AVG_BAL_CS,MTH6_AVG_BAL_CS,DELTA_FUNDING_BALANCE,MTH_AVG_BAL_IDR,MTH6_AVG_BAL_IDR,...,AVG_CREDIT_3MTH,SUM_CREDIT_LESS_3MIL,SUM_CREDIT_ZERO,DELTA_CREDIT_MUTATION,DELTA_DEBIT_MUTATION,AVG_DEBIT_3MTH,CUST_SEGMENT_AVG,DELTA_CUST_SEG,L_COLL,BAD_TAG
0,16-20 th,2730505.6,16-20 th,UNIVERSITAS,20560590.01,1.984331e+07,8.539044e+06,-1.348543e+07,1.984331e+07,8.539044e+06,...,2.498304e+07,0,0,-1.623916e+07,-1.062066e+07,1.949566e+07,4,0,0,0
1,16-20 th,2734315.2,16-20 th,UNIVERSITAS,917094.84,2.694370e+06,1.951391e+07,3.405224e+07,2.694370e+06,1.951391e+07,...,1.124538e+07,0,0,-6.775181e+06,-2.692690e+06,1.276439e+07,5,0,1,0
2,16-20 th,2668305.2,16-20 th,UNIVERSITAS,430065.24,1.719333e+06,1.974608e+06,7.410419e+05,1.719333e+06,1.974608e+06,...,1.474981e+07,1,0,8.661768e+06,1.129421e+07,1.463569e+07,5,0,0,0
3,16-20 th,2526375.6,16-20 th,UNIVERSITAS,4348929.80,1.373424e+06,1.874303e+06,1.571728e+06,1.373424e+06,1.874303e+06,...,6.541202e+06,0,0,3.685779e+06,8.645953e+05,6.047069e+06,5,0,0,0
4,16-20 th,2437968.4,16-20 th,SMA,67022018.69,1.855625e+08,2.803859e+08,4.921136e+08,1.855625e+08,2.803859e+08,...,1.017353e+09,0,0,-2.065421e+08,7.833901e+08,1.034371e+09,3,0,0,0